.brightcove-preview {
    padding: 2px;
}

.brightcove-preview .thumbnail {
    width: 69px;
    height: 39px;
    background: #000000 no-repeat center;
    background-size: cover;
    float: left;
    margin-right: 5px;
}
.brightcove-preview sub {
    bottom: 0px;
    font-size: 80%;
    color: #999;
    margin-right: 5px;
}

.brightcove .current-wrapper {
    margin-top: 2px;
    display: none;
}

.brightcove .current {
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 2px;
}

.brightcove .current li {
    list-style: none;
}

.brightcove .current-wrapper button {
    position: absolute;
    right: 25px;
    top: 8px;
}

.brightcove .error {
    padding: 5px;
    border-color: #990000;
}

.brightcove .spinner {
    position: absolute;
    right: 20px;
    top: 41px;
    display: none;
}

.brightcove label img {
    height: 23px;
    margin-top: -5px;
}

.st-block.brightcove {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
}

.st-block.brightcove .current {
    background-color: white;
    border-radius: 3px;
}

.st-block h2 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 0.8em;
    color: #c7c7c7;
    border-bottom: 1px solid #c7c7c7;
    line-height: 0.9em;
    text-transform: capitalize;
}