.brightcove-preview {
    padding: 2px;
}

.brightcove-preview .thumbnail {
    width: 69px;
    height: 39px;
    background: #000000 no-repeat center;
    background-size: cover;
    float: left;
    margin-right: 5px;
}
.brightcove-preview sub {
    bottom: 0px;
    font-size: 80%;
    color: #999;
    margin-right: 5px;
}

.brightcove .current-wrapper {
    margin-top: 2px;
    display: none;
}

.brightcove .current {
    border: 1px solid #DDD;
    border-radius: 2px;
    padding: 2px;
}

.brightcove .current li {
    list-style: none;
}

.brightcove .current-wrapper button {
    position: absolute;
    right: 25px;
    top: 8px;
}

.brightcove .error {
    padding: 5px;
    border-color: #990000;
}

.brightcove .spinner {
    position: absolute;
    right: 20px;
    top: 41px;
    display: none;
}

.brightcove label img {
    height: 23px;
    margin-top: -5px;
}