<fieldset class="brightcove">
    <div class="col-sm-12">
        <label class="control-label">{{ (option.info) ? macro.infopop(labelkey, option.info) : labelkey }}</label>
        <input{{ macro.attr(attr_text) }}>
    </div>
</fieldset>
